

@media only screen and (max-width: 480px) {
    /* nav section  */
    nav ul{
        flex-direction: column;
        margin-left: 0%;
    }
    
    /* First section Top Player*/
    .f-sec{
        width: 100%;
        height: 100%;
    }
    .top-player{
        
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
        justify-content: center;
  }
  .player img{
    padding-left: 0%;
    }

  /* Top Blog */
  .blog-details{
      text-align: center;
  }
      .main-blog {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-blog{
        flex-direction: column;
    }

    /* Lates Course section sec  two */
    .sec-two{
        width: 100%;
    }
    .latest-course{
        flex-direction: column;
    }
    .corse img{
        width: 100%;
        height: 100%;
    }

}

@media only screen and (min-width:689px) and (max-width:991px) {
     /* nav section  */
    nav ul{
       margin-left: 250px;
    }

    /* First section Top Player*/

    .f-sec{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .top-player{
        grid-template-columns: repeat(3, 1fr);
    }
    .player{
        flex-direction: column;
        justify-content: center;
  }

 /* Lates Course section sec  two */

    .sec-two{
    width: 100%;
    }
    .corse {
        margin: 0px 15px;
    }
}

@media only screen and (min-width:992px) and (max-width:1312px) {
    /* nav section  */
    nav ul{
        margin-left: 300px;
     }
      /* First section Top Player*/
    .f-sec{
        width: 80%;
        height: 80%;
        background-color: #FFFF;
    }

    /* Lates Course section sec  two */

    .sec-two{
        width: 80%;
        height: 80%;
        }
        
        /* footer section  */
        
        footer div{
         width: 80%;
        }
}
